$theme_name: "PapaCiga";
$theme_uri: "#";
$theme_description: "Description here";
$theme_version: "1.0.0";
$theme_author: "Jason Van Hil";
$theme_author_uri: "#";
$theme_license: "";


$paca-prefix : paca;



@mixin transition($transition...) {
    -o-transition:      $transition;
    -webkit-transition: $transition;
    -moz-transition:    $transition;
    -ms-transition:     $transition;
    transition:         $transition;
}

@mixin transform($transform...) {
    -o-transform:      $transform;
    -webkit-transform: $transform;
    -moz-transform:    $transform;
    -ms-transform:     $transform;
    transform:         $transform;
}