.#{$paca-prefix}-primary-navbar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1010;
    background: transparentize(white,1);
    width: 100%;
    border-radius: 0;
    border-bottom:1px solid transparentize(white, .5);
	*{
	    color:white;
	}
	//Remove later
}