@import "vars";

@import "screen";

@import "print";

@import "ie";

@import "font-awesome-compass";

@import "font-awesome";

@import "bootstrap-compass";

@import "bootstrap-variables";

@import "bootstrap";

@import "papa_ciga_colours";

@import "papa_ciga_header";

@import "papacig_slider";

@import "buttons";

@import "social_buttons";

@import "accordion";

@import "boxed_contents";

@import "carousel_slider";

@import "portfolio";

@import "grids";

@import "lightgallery/lightgallery";

@import "progress-bar";

@import "pace-cursor-down";

@import "cards";




body{
    -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
	background: rgb(249, 249, 249);
}

a{
	color:rgba(0, 0, 0,.7);
}	
a:hover{
	color:rgba(0, 0, 0,.5);
	text-decoration:none; 
}	