.paca-standard-card {
  margin: auto auto 35px auto;
}
.paca-standard-card .paca-card-button .paca-card-button-inner {
  display: inline-block;
  cursor: pointer;
}
.paca-standard-card .paca-card-button .paca-card-button-inner .title {
  margin: 5px 0;
  transform: translateY(0);
  opacity: 1;
  transition: .3s;
}
.paca-standard-card .paca-card-button .paca-card-button-inner .paca-learn-more-btn {
  transition: .2s;
}
.paca-standard-card .paca-card-button .paca-card-button-inner .paca-learn-more-btn-x {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #333333;
  border-radius: 100%;
  transition: .4s;
}
.paca-standard-card .paca-card-button .paca-card-button-inner .paca-learn-more-btn-x:after, .paca-standard-card .paca-card-button .paca-card-button-inner .paca-learn-more-btn-x:before {
  content: ' ';
  width: 20px;
  height: 2px;
  background: #f9f9f9;
  display: block;
  position: relative;
  top: 12px;
  left: 5px;
}
.paca-standard-card .paca-card-button .paca-card-button-inner .paca-learn-more-btn-x:after {
  transform: scale(0.8);
}
.paca-standard-card .paca-card-button .paca-card-button-inner .paca-learn-more-btn-x:before {
  transform: rotate(90deg) scale(0.8) translateX(2.5px);
}
.paca-standard-card .paca-card-button .paca-card-button-inner.active {
  opacity: .8;
}
.paca-standard-card .paca-card-button .paca-card-button-inner.active .title {
  transform: translateY(-25px);
  opacity: 0;
}
.paca-standard-card .paca-card-button .paca-card-button-inner.active .paca-learn-more-btn {
  transform: translateY(40px);
}
.paca-standard-card .paca-card-button .paca-card-button-inner.active .paca-learn-more-btn-x {
  transform: rotate(45deg) scale(0.8);
  transition: .4s;
}
.paca-standard-card .paca-card-button .paca-card-button-inner:hover {
  opacity: .8;
}
.paca-standard-card .paca-card-contents {
  opacity: 0;
  overflow: hidden;
  background: white;
}
.paca-standard-card .paca-card-contents.active {
  opacity: 1;
}
.paca-standard-card .paca-card-contents .paca-card-inner {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 50px 15px;
}
